{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "extends": "eslint-config-airbnb",
  "rules": {
    "semi": 0,
    "no-use-before-define": [2, "nofunc"],
    "indent": [2, 2, {"SwitchCase": 1}],
  }
}